<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>data</title>
</head>
<body>
    <h1 th:inline="text">显示数据页面</h1>

    <table border="1">
        <tr>
            <th>任务id</th>
            <th>方法名</th>
            <th>参数</th>
            <th>cron表达式</th>
        </tr>
        <tr  th:each="info,index : ${query}" >
            <td th:text="${info.jobId}"></td>
            <td th:text="${info.beanName}"></td>
            <td th:text="${info.methodName}"></td>
            <td th:text="${info.params}"></td>
        </tr>
    </table>
</body>
</html>