<!DOCTYPE>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>明文加解密</title>
    <link rel=”shortcut” th:href="${#request.contextPath} + '/favicon.ico' " />
    <link type="text/css" rel="stylesheet" th:href="${#request.contextPath} + '/css/entry.css'">
    <link type="text/css" rel="stylesheet" th:href="${#request.contextPath} + '/layui/css/layui.css'">

    <style type="text/css">
        .container{
            max-width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>

<body>

<!--加载js文件-->
<script type="text/javascript" th:src="${#request.contextPath} + '/layui/layui.js'"></script>
<script type="text/javascript" th:src="${#request.contextPath} + '/js/jquery.min.js'"></script>
<script type="text/javascript" th:src="${#request.contextPath} + '/js/entry.js'"></script>


<form method="post">
    <textarea autocomplete="off" id="encryptStr" class="input__original__area" placeholder="请输入明文(不能超过245个字符)" name="encryptStr" maxlength="245"></textarea><br>
    <input id='encryptBt' type="button" class="layui-btn layui-btn-radius " value="加密">
    <input id='resetBt1' type="button" class="layui-btn layui-btn-radius " value="重置">
    <span>100</span>
    /
    <span>245</span>
</form>


<br><br>
<form method="post">
    <textarea autocomplete="off" id="decryptStr" class="out__original__area" placeholder="请输入密文" name="decryptStr"></textarea><br>
    <input id='decryptBt' type="button" class="layui-btn layui-btn-radius " value="解密">
    <input id='resetBt2' type="button" class="layui-btn layui-btn-radius " value="重置">
</form>




</body>

</html>