


.input__original__area {
    display: block;
    font-family: ArialMT, "Microsoft YaHei", Arial, sans-serif, Helvetica, STHeiti;
    width: 750px;
    min-height: 240px;
    padding: 0;
    border: 0;
    background: rgba(102, 102, 102, 0.15);
    font-size: 16px;
    color: #333;
    line-height: 30px;
    overflow: auto;
}

.out__original__area {
    display: block;
    font-family: ArialMT, "Microsoft YaHei", Arial, sans-serif, Helvetica, STHeiti;
    width: 750px;
    min-height: 240px;
    padding: 0;
    border: 0;
    background: rgba(102, 102, 102, 0.15);
    font-size: 16px;
    color: #333;
    line-height: 30px;
    overflow: auto;
}